div{
    background-color: blue;
    color:white;
    padding-top: 10px;
    padding-bottom:10px;
    font-size: 25px;
    font-style: italic;
}
#pp{
    position: absolute;
    top: 450px; left: 540px;
    background-color: white;
}
.krish{
    background-color: white;
    margin-top: 2px;
}
.kri{
    background-color: white;
    margin-top: 20px;
}
.kk{
    margin-top: 60px;
}
jj{
    margin-top: 20px;
}
