.pav {
    background-color: blue;
    color: white;
    position: fixed;
    top: 0;
    z-index: 1;
    width: 100vw;
    font-size: 25px;
    font-style: italic;
}

.krish {
    background-color: white;
    margin-bottom: 10px;

}

.kri {
    background-color: white;
    margin-top: 30px;
}

.kk {
    margin-top: 60px;
}

jj {
    margin-top: 20px;
}